# Dependencies
node_modules/
frontend/node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Production Build
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
retail_analyst/venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
frontend/logs/
retail_analyst/logs/
*.log
npm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and OS Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
